.favContainer {
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  background: linear-gradient(-45deg, #3d3d3e, #000C66, #000000, #2d241f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow: scroll;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.favContainer div {
  margin-left: 20px;
  color: white;
}
.favContainer .rowSong {
  display: flex;
  height: 55px;
  width: 70vw;
  margin: 0;
  border-radius: 4px;
}
.favContainer .row {
  border-radius: 5px;
  height: 50px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}
.favContainer .row:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}
.favContainer .row .deleteBtn {
  color: white;
  background-color: rgba(23, 23, 23, 0.5);
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=Favourite.css.map */
