nav {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  background-color: black;
}
nav div {
  position: sticky;
  top: 40vh;
  width: 90%;
  height: 150px;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
nav div .link {
  text-decoration: none;
  font-size: larger;
  width: 13vw;
  height: 50px;
  text-align: center;
  color: #a9a90d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
nav div .link:hover {
  transform: scale(1.2);
  transition: 0.5s;
  color: darkslateblue;
}
nav div .link:Link {
  width: 80%;
  height: 50px;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}
nav div .link:Link h6 {
  width: 70%;
  text-align: left;
}

/*# sourceMappingURL=HomeNav.css.map */
