.musicListContainer{
  width: 85vw;
  min-height: 100vh;
  background: rgba(45,36,31,1.0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .fetch{
    position: absolute;
    left: 0;
    top: 0;
  }

  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li{
      width: 16.6%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;



    }


  }
}