.musicListContainer {
  width: 85vw;
  min-height: 100vh;
  background: #2d241f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.musicListContainer .fetch {
  position: absolute;
  left: 0;
  top: 0;
}
.musicListContainer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.musicListContainer ul li {
  width: 16.6%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*# sourceMappingURL=MusicList.css.map */
