.playerContainerWhole {
  width: 85vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.playerContainerWhole img {
  position: absolute;
}
.playerContainerWhole .playerContainer {
  z-index: 30;
  display: flex;
  width: 330px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, black 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  position: relative;
  backdrop-filter: blur(5px);
}
.playerContainerWhole .playerContainer h2 {
  font-size: medium;
  color: white;
  position: absolute;
  top: 20px;
}
.playerContainerWhole .playerContainer h4 {
  color: white;
  position: absolute;
  bottom: 130px;
}
.playerContainerWhole .playerContainer h5 {
  color: #CFCBA2;
  position: absolute;
  bottom: 100px;
}
.playerContainerWhole .playerContainer img {
  position: absolute;
  top: 90px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation: play infinite linear 10s;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.5s;
}
@keyframes play {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.playerContainerWhole .playerContainer .bar {
  width: 250px;
  height: 2px;
  background-color: #a9a90d;
  position: absolute;
  bottom: 100px;
}
.playerContainerWhole .playerContainer .playerFav {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 25px;
  border: none;
  background-color: transparent;
  font-size: larger;
}
.playerContainerWhole .playerContainer .playerFav:active {
  transform: scale(1.1);
  transition: 0.5s;
}
.playerContainerWhole .playerContainer .notFavBtn {
  color: grey;
}
.playerContainerWhole .playerContainer .addFavBtn {
  color: red;
}
.playerContainerWhole .playerContainer .btnControl {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.playerContainerWhole .playerContainer .btnControl .control {
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgba(216, 202, 175, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin: 5px 10px;
}
.playerContainerWhole .playerContainer .btnControl .control:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.playerContainerWhole .list {
  width: 1500px;
  height: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 10vh;
  background-color: transparent;
}
.playerContainerWhole .list ul {
  margin: 0;
  width: 5000px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  padding: 0;
  animation: run 50s infinite linear;
  position: absolute;
}
@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2500px);
  }
}
.playerContainerWhole .list ul li {
  list-style-type: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.playerContainerWhole .list ul li img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  animation: runItem 25s infinite linear;
  background-color: transparent;
}
@keyframes runItem {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 10%;
  }
  100% {
    border-radius: 50%;
  }
}

/*# sourceMappingURL=Player.css.map */
