.songContainer{
  width: 150px;
  height: 200px;

  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: black;
  transition: 500ms linear;
  &:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
  }
  .imgContainer{
    width: 140px;
    height: 140px;
  }

  img{
    width: 140px;
    height: 140px;
    border-radius: 5px;

  }
  p{
    margin: 0;
    margin-top: 10px;
    color:white;
    font-size: small;
    align-self: flex-start;
    font-weight: bold;


  }

  .artist{
    position: absolute;
    right:15px;
    top: 128px;
    font-weight: bold;
    font-size: x-small;
    background-color: black;
    color: white;
    padding: 2px;
  }

  .price{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #a9a90d;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;



  }

  .notFavBtn{
    position: absolute;
    color:grey;
    background-color: transparent;
    &:active{
      transform: scale(1.1);
      transition: 0.5s;
    }


  }

  .addFavBtn{
    position: absolute;
    color:red;
    background-color: transparent;
    &:active{
      transform: scale(1.1);
      transition: 0.5s;
    }


  }



  .btnContainer{
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    text-align: center;


    .playNow{
      position: relative;
      bottom: 0;
      right: 0;
      z-index: 11;
      font-size: larger;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: rgba(167,121,121,0.8);
      color:darkred;
      &:active{
        font-size: large;
        background-color: rgba(167,121,121,1);
        transition: 0.5s;
      }



    }
  }
  .length{
    position: absolute;
    bottom: 10px;
    font-size: xx-small;

  }


}